<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>

    <header class="banner">
        <h1>The WT</h1>
    </header>

    <div id="myCart">
        <button id="viewCart"></button>
        <button id="closeCart"></button>
        <h3 id="cartSummary"></h3>
        <div id="cartContents" hidden>
            <table id="cartTable" border="1px">
                <thead>
                    <tr>
                        <td>Product Name</td>
                        <td>Quantity</td>
                        <td>Cost</td>
                    </tr>
                </thead>
                <tbody id="cartBody">

                </tbody>
            </table>
            <h3 id="totalCost">Total Cost = $</h3>
        </div>
    </div>

    <div class="content">

        <div id="productList">
            <table border="1px">
                <thead>
                    <tr>
                        <th id="sortN">Product Name</th>
                        <th id="sortC">Price</th>
                    </tr>
                </thead>
                <tbody id="tableOfProducts">

                </tbody>
            </table>
        </div>

        <div hidden id="moreDetails" border="1px">
            <button hidden id='closeBt'></button><br>
            <p id="details"></p>
            <form hidden id="addToCart" action="/cart" method="post">
            <fieldset>
                <legend>Add Item to Cart</legend>
                <ul>
                    <li hidden>Product: <input id="prodInput" value ="-1" type="number" name="productid"></li>
                    <li>Quantity: <input type="number" name="quantity"></li>
                    <li><input id="submitCart" type="submit" value="Add To Cart"></li>
                </ul>
                <input type="hidden" name="update" value="0">
            </fieldset>
        </form>
        </div>

    </div>

    <footer class="banner">
        <p>Copyright &copy; 2019 COMP249 Web Technology</p>
    </footer>

    <!-- load Javascript -->
    <script src="/static/js/handlebars-v4.1.2.js"></script>
    <script src="/static/js/jquery-3.4.0.js"></script>
    <script src="/static/js/script.js"></script>

</body>
</html>


